body{
	font-family: courier, sans-serif;
	background: #000;
	color: #fff;
}

.wrapper{
	width: 550px;
	margin: 0 auto;

}

@media (max-width: 600px) {
.wrapper{
	width: 300px;
}


}

.breakout{
	text-align: center;
}

a{
	color: #ffb600;
}

img{
	max-width: 100%;
}


